.header-container {
  display: flex;
  justify-content: space-between;
  margin:0px 20px;
  align-items: center;
  height: 60px;
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 20px;
  }
}

.order-container {
  display: flex;
  gap: 20px;
}

.my-orders-text {
  font-weight: 700;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-icon {
  font-size: 25px;
}

.cart-count {
  position: relative;
  top: -10px;
  left: -10px;
  background-color: red;
  font-weight: 900;
  font-size: 10px;
  color: #fff;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
